/* Define Fonts */
@font-face {
    font-family: 'Maison Neue Extended';
    src: url('/assets/fonts/MaisonNeue/MaisonNeueExtendedBold.otf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('/assets/fonts/MaisonNeue/MaisonNeueBook.otf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('/assets/fonts/MaisonNeue/MaisonNeueMedium.otf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('/assets/fonts/MaisonNeue/MaisonNeueBold.otf') format('truetype');
    font-weight: bold;
}

/* Custom Scrollbar */
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #1d1d1d;
    border-radius: 10px;
    border: 2px solid #f8f9fa;
}

/* General styles */
body {
    font-family: 'Maison Neue', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* Sidebar styles */
.sidebar {
    width: 300px;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar-container {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 240px;
    overflow-y: scroll;
}

.sidebar-section {
    margin-bottom: 40px;
}

.title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Maison Neue Extended', sans-serif;
}

.sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Maison Neue Extended', sans-serif;
    text-align: center;
}

.input-container {
    margin-bottom: 15px;
}

.input-label {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
}

.dropdown-input {
    flex-grow: 1;
}

.hyphen {
    margin: 5px;
    font-size: 16px;
    text-align: center;
    font-family: 'Maison Neue', sans-serif;
    font-weight: 400;
}



/* Graph Section */
.content-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
}

.graph-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Maison Neue Extended', sans-serif;
    text-align: center;
    padding: 10px;
}

.dccGraph {
    border-radius: 10px;

}

.main-svg {
    border-radius: 10px;
    /* background-image: url('/assets/bg.png');
    background-size: cover; */
}

/* Map Graph */
.map-graph-container {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Line Graph */
.line-graph-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.line-graph {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Remove Floating Debug Circle */
.dash-debug-menu__outer, .dash-debug-menu { display: none !important; }

@media screen and (max-width: 1439px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: static;
        order: -1;
        margin-bottom: 20px;
    }

    .sidebar-container {
        position: relative;
        width: 100%;
        overflow-y: scroll;
    }
    

    .line-graph-container {
        flex-direction: column;
    }

    .line-graph {
        width: 100%;
        margin-bottom: 20px;
    }

    .sub-title-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: center;
    }

    .sub-title {
        margin-bottom: 0;
    }
}